.recent{
    background-color: grey;
    text-decoration-color: black;
    font-family:fantasy;
    text-align: center;
    table-layout: auto;
}
/*background image/ the color of the site*/
body {
   font-size: 12pt;
/*     background-color:#EEF2FF;
    color: #000000;
    padding: 8px; */
    background: url(../uselessImg/backgr.jpg)top center no-repeat;
    text-align: center;
}

h1{
    text-decoration: grey;
    margin: auto;
    padding: inherit;
    
}
/* this will hide the unsightly undeline and blue text that happens with a link*/
a { text-decoration: none;}

a:hover{
    text-decoration: underline;
}

/* this will make a flex out of the navbar */
.flexcontainer {
  display: flex;
  flex-direction: row;
    justify-content: space-around;
    height: 50px;
}

/* navigation bar css*/

ul.navbar {
    position: fixed;
    left:0;
    top: 0;
    width:100%;
    height: 50px;
/*    list-style-type: none; */
    margin: auto;
    overflow: hidden;
    background-color: #000001;
    flex: 1;
} 
/* lines elements up */

  ul.navbar li {float: left; }

/*background and format of bar*/

ul.navbar li a{
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    transition: 0.4s;
    font-size: 20px;
    width: 160px;
    margin: 0 0 0 auto;
    height: 25px;
}

/* changes the color of the links when you mouse over them*/

ul.navbar li a:hover {background-color: #ffffff;
                        color: black;}

/* this will color the page you are currently on as marked by "currentPage" */

ul.navbar li a.currentPage {
    background-color:aqua;
    color:black;
}



/* to hide the links in the little icon*/
ul.navbar li.icon {display: none;}

/* this is to make sure the nav bar will change to the icon when the screen is too small-- it will show the first child but not anything else and only the icon, thats why it is named icon instead of the rest of the list items*/
@media screen and (max-width:680px) {
    ul.navbar li:not(:first-child) {display: none;}
    ul.navbar li.icon{
        float: right;
        display: inline-block;
    }
  .flexcontainer {
    display: block;
  }
}
}
/* this is just extra for when small screens click on it*/
@media screen and (max-width:680px){
    ul.navbar.responsive{ position: relative;}
    ul.navbar.responsive li.icon{
        position:absolute;
        right: 0;
        top: 0;
    }
    ul.navbar.responsive li{
        float:none;
        display: inline;
    }
    ul.navbar.responsive li a{
        display: block;
        text-align: left;
    }
}


.thumbnail {
	border: none;
	float: left;
	margin: 4px 20px;
}

.nothumbnail {
	float: left;
	background: #eee;
	border: 2px dashed #aaa;
	text-align: center;
	margin: 2px 20px;
	padding: 1em 0.5em 1em 0.5em;
}


.managebutton {
	font-size: 15px;
	height: 28px;
	margin: 0.2em;
}

.footer {
	clear: both;
	text-align: center;
}



