.content{
    background-color: aqua;
    color: black;
    font-family:fantasy;
    text-align: center;
}
/*background image/ the color of the site*/
html, body{
    font-size: 12pt;
    background-color:#EEF2FF;
    color: #000000;
    padding: 8px;
}
/* this will hide the unsightly undeline and blue text that happens with a link*/
a { text-decoration: none;}

/* navigation bar css*/
ul.navbar {
    list-style-type: none;
    margin: 10;
    padding: 0;
    overflow: hidden;
    background-color: #000001;
    
}
/* lines elements up */
ul.navbar li {float: left; }

/*background and format of bar*/
ul.navbar li a{
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    transition: 0.4s;
    font-size: 17px;
    width: 160px;
    margin: 0 0 0 auto;
    
}

/* changes the color of the links when you mouse over them*/
ul.navbar li a:hover {background-color: #ffffff;
                        color: black;}

/* this will color the page you are currently on as marked by "currentPage" */
ul.navbar li a.currentPage {
    background-color:aqua;
    color:black;
}



/* to hide the links in the little icon*/
ul.navbar li.icon {display: none;}

/* this is to make sure the nav bar will change to the icon when the screen is too small-- it will show the first child but not anything else and only the icon, thats why it is named icon instead of the rest of the list items*/
@media screen and (max-width:680px) {
    ul.navbar li:not(:first-child) {display: none;}
    ul.navbar li.icon{
        float: right;
        display: inline-block;
    }
}
/* this is just extra for when small screens click on it*/
@media screen and (max-width:680px){
    ul.navbar.responsive{ position: relative;}
    ul.navbar.responsive li.icon{
        position:absolute;
        right: 0;
        top: 0;
    }
    ul.navbar.responsive li{
        float:none;
        display: inline;
    }
    ul.navbar.responsive li a{
        display: block;
        text-align: left;
    }
}

/*this is the section influenced/adapted from the examples */
form { margin-bottom:0;}

.posting {text-align: center;}

.posting table { 
    margin: 0 auto;
	text-align: left;
}

.postblock {
    vertical-align: top;
	padding: 3px;
}

.thumbnail {
	border: none;
	float: left;
	margin: 4px 20px;
}

.nothumbnail {
	float: left;
	background: #eee;
	border: 2px dashed #aaa;
	text-align: center;
	margin: 2px 20px;
	padding: 1em 0.5em 1em 0.5em;
}

.textpost {
	margin: 1em 25px;
}

.reply .textpost {
	margin-bottom: 5px;
}

.reflink a {
	color: inherit;
	text-decoration: none;
}

.reflink a:hover {
	color: #800000;
}

.reply .filesize {
	margin-left: 20px;
}

/*.userdelete {
	float: right;
	text-align: center;
	white-space: nowrap;
}*/



.modpost {
	color: #FF0000;
}

.managebutton {
	font-size: 15px;
	height: 28px;
	margin: 0.2em;
}

.footer {
	clear: both;
	text-align: center;
}

.rulestopboard {
	
}

.rules ul {
	
}


.login {

}

.adminbar {

}

.adminbar a:link, .adminbar a:visited, .adminbar a:active, .adminbar a:hover {
	text-decoration: none;
}

